<!DOCTYPE html>
<html lang="en" ng-app="test_task_veon">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>VEON TEST TASK</title>
	<link rel="stylesheet" type="text/css" href="style/all.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">
	<link rel="shortcut icon" href="logo.png" type="image/png">
</head>
<body ng-controller="MainCtrl as vm" ng-cloak>
	<div class="container">
			<div class="row">
				<h2><strong>Quotes Added</strong></h2>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{vm.progress}}%;">
					{{vm.quotes.length}}
					</div>
				</div>
				<div>
					<h3><strong>Quote</strong></h3>
					<textarea class="input-quote-add" class="form-control" rows="4" ng-model="vm.text"></textarea>
				</div>
                <div class="error-alert alert alert-danger"
                	style="margin-top: 10px" 
                    ng-show="vm.showError">
                	<strong>{{vm.ErrorText}}</strong>
                    <button class="close" ng-click="vm.showError = false">&times</button>
                </div>
				<button type="button" class="button-add-quote btn btn-primary center-block" ng-click="vm.addQuote()"><strong>Add Quote<strong></button>
			</div>
			<div class="row">
                <div class="col-md-3" ng-repeat="quote in vm.quotes track by $index">
                	<div class="grid-item">
                        <div class="grid-item-buttons pull-right">
                            <button class="btn btn-info btn-xs" ng-click="vm.getIndex(quote, $index)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="vm.deleteQuote(quote)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        <h4 ng-hide="vm.showWArray[$index]">
							{{quote.text}}
                        </h4>
						<textarea ng-show="vm.showWArray[$index]" class="form-control" rows="3" ng-model="quote.text"></textarea>
                        <button ng-show="vm.showWArray[$index]" class="btn btn-success btn-xs" ng-click="vm.editeQuote(quote);vm.showWArray[$index] = false">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                	</div>
                </div>
            </div>
	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/vendor/ng.min.js"></script>
	<script src="app.js"></script>
</body>
</html>