[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.input-quote-add {
    width: 60%;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 auto !important;
}

.button-add-quote {
    margin-top: 15px;
}

.error-alert {
    margin-top: 10px;
    width: 60%;
    margin: 0 auto;
}

.grid-item {
    padding: 30px 20px 25px;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    border: 1px solid #bbb;
    font-family: 'Arizonia', cursive;
}

.grid-item>button {
    position: relative;
    float: right;
    margin-top: 2px;
}

.grid-item>h4 {
    font-size: 24px;
}

.grid-item>textarea {
    font-size: 24px;
    font-weight: 400;
}

.grid-item-buttons {
    display: none;
    margin: -25px -15px;
}

.grid-item:hover .grid-item-buttons{
    display: block;
}

@media (max-width: 768px) {
    .error-alert {
        width: 90%;
    }

    .grid-item-buttons {
        display: block !important;
    }
    .input-quote-add {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
}